body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  background-color: lightcoral;
  color: white;
  padding: 20px;
}

.message {
  background-color: lightcoral;
  color: white;
  padding: 20px;
}

form {
  margin: 5% 0px 0px 5%;
}

form input {
  padding: 5px;
  cursor: pointer;
}

.result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
  margin: 1% auto;
}

.result > div {
  height: 130px;
  width: 100%;
  background-color: #15172b;
  color: white;
  padding: 16px;
  border-radius: 20px;
  scroll-behavior: auto;
}

.ins {
  margin: 2% 0px 0px 5%;
}

.ip-header {
  background-color: lightskyblue;
  padding: 20px;
}

.ip-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 3%;
  gap: 10px;
}

.ip-result > div {
  height: 150px;
  width: 200px;
  padding: 13px;
  background-color: #15172b;
  color: white;
  border-radius: 20px;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.back-home {
  margin: 1% 0px 0px 5%;
}

.admin-container {
  margin: 20px;
}

.admin-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
}

.panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.messages,
.visitors {
  display: block;
  text-decoration: none;
  color: inherit;
}

.messages {
  background-color: #3498db;
  color: #fff;
  border-radius: 12px;
}

.visitors {
  background-color: #27ae60;
  color: #fff;
  border-radius: 12px;
}

.admin-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.admin-container p {
  margin: 0;
  line-height: 1.6;
  color: #555;
}

/* asa */
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  /*   cursor: grab; */
  background: #0d1225;
}
#container-hammer {
  width: 100px;
  height: 140px;
}
svg {
  width: 100px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  transform-origin: 50% 50%;
  z-index: 2;
  cursor: grab;
}
.shadow {
  opacity: 0;
}
#shadow {
  filter: blur(8px);
  fill: #7dafff;
}
#shadow2 {
  filter: blur(40px);
  fill: #4089ff;
}
.shadow.charged {
  transition: 300ms opacity ease;
  transform-origin: 50% 50%;
  animation: glowing 0.8s linear infinite alternate;
}
.thunder {
  fill: none;
  stroke: #94bdff;
  stroke-width: 6;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
}
.thunder-shadow {
  fill: none;
  stroke: #4089ff;
  stroke-width: 6;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
  filter: blur(20px);
}

@keyframes glowing {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0.4;
  }
}

.white {
  background-color: whitesmoke;
}
